/**
 * for IE and For larger screen 
 */
#header {
    position: fixed;
    width: 23%;
    min-height: 100%;
    min-width: 240px;
}

#header #name-and-slogan {
    padding-left: 20px;
}

#heading #navigation {
    padding-left: 20px;
}

#main {
    margin-left: 23%;
    min-width: 658px;
    position: relative;
}
#footer {
    position: fixed;
    bottom: 10px;
}

/*
 * For smaller screen 
 */
@media all and (max-width: 630px) {
    #header {
        position: relative;
        min-height: 0;
        width: auto;
        height: auto;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    #header #name-and-slogan {
        padding-left: none;
        margin-top: 30px;
        height: auto;
        float: none;
    }
    #header #navigation {
        padding-left: none;
    }
    #header #navigation ul.menu {
        text-align: center;
        
    }
    #header #navigation ul.menu li{
        list-style-type: none;
        list-style-image: none;
        display: inline;
    }
    #main {
        margin-left: 0;
        min-width: 0;
        min-height: 0;
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 15px;
    }
    #main #page-title {
        border-top: 1px solid #E2E2E2;
        border-bottom: none;
        padding: 30px 0 0 0;
    }
    #main #content {
        width: 100%;
        padding: 10px 0 0 0;
    }
    #footer {
        text-align: center;
    }
}
