/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}

#page {
}

/*
 * Header
 */

#header {
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  margin-top: 100px;
  height: 100px;
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
  font-family: "freight-sans-pro",sans-serif;
  color: #585858;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
}

#page-title {
  border-bottom: 1px solid #E2E2E2;
  padding: 40px 0 40px 40px;
  font-family: "freight-sans-pro",sans-serif;
  width: 65%;
}

/*
 * Content
 */

#content {
  padding: 40px 0 40px 40px;
  width: 65%;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

#content h2 {
  font-weight: normal;
  font-size: 20px;
}

#content h3 {
  font-weight: bold;
  font-size: 14px;
}

/* Table by chunliang */
#main th, #main td {
  border: 1px #AAA solid;
  padding: 0.2em;
}

#main th {
  color: #888;
  background-color: #F2F2F2;
  text-align: center;
}

#main p, #main ul {
  font-size: 14px;
}

#main a {
  text-decoration: none;
  border-bottom: 1px dotted #BBB;
}

#main a:visited, #main a:link {
  color:black;
}
#main a:hover {
  color: #369bca;
}

#main table {
  font-size: 12px;
  margin: auto;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer .block-title{
  display: none;
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

figure {
  text-align: center;
}

/*code and pre are copy from stackoverflow*/
code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  background-color: #EEE;
}

pre, div.geshifilter pre {
  padding: 5px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 10pt;
  margin-bottom: 10px;
  background-color: #EEE;
  overflow: auto;
  width: auto;
  width: 650px !ie7;
  padding-bottom: 20px !ie7;
  border: 1px solid #ccc;
  /*max-height: 600px;*/
}

/* fix GeShi Filter*/
div.geshifilter {
  margin: 0px;
  padding: 0px;
  border: none;
}

div.geshifilter pre {
}

/* for blog page */
#main .view-display-id-page_2 .views-row {
  margin-bottom: 50px;
}
#main .view-display-id-page_2 .views-field-title {
  font-size: 24px;
  font-weight: bold;
}
#main .view-display-id-page_2 .views-field-created {
  font-size: 14px;
}

.blog-meta {
  color: gray;
  font-size: 12px;
}

blockquote {
  border-left: 10px solid #88ACDB;
  padding-left: 20px;
}

blockquote cite {
  color: #555;
}

#node-edit-btn {
  position: fixed;
  top: 0;
  right: 0;
}

/* node edit panel*/
#node-edit-panel {
  position: fixed;
  top: 0;
  right: -510px;
  padding: 5px;
  width: 500px;
  height: 100%;
  overflow: auto;
  z-index: 9999;
  background-color: gray;
}
#node-edit-panel .text-summary-wrapper {
  display: none;
}
#node-edit-panel .filter-wrapper {
  display: none;
}
#node-edit-panel .form-item .description {
  display: none;
}
#node-edit-panel label, #node-edit-panel legend {
  font-size: 12px;
}
#node-edit-panel input,
#node-edit-panel textarea {
  background-color: black;
  border-color: black;
  color: #CCC;
  font-size: 12px;
}
#node-edit-panel fieldset {
  margin: 0;
  padding: 5px;
}
#node-edit-panel .form-item {
  margin: 0;
}
